<!doctype html>
<html>
  <head>
  <title>About Pair Programming</title>
    <meta name="description" content="How to use the app">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <div id="container">
        <div id="user">
          Logged in: {{ user_info|safe }}
        </div>
        <h1>Grouping App</h1>
        <h2>What is Pair Programming?</h2>
    <img src = "static/driver.jpg" width = "70%">
        <p>Pair programming happens when two people are collaborating to write a program.
Both students are working on the same program at the same time, and there should never be a divide and conquer approach with this method.
Generally students will switch roles throughout the project between “navigator” and “driver”. The driver is the person physically typing the code, while the navigator is talking through the logic and checking the work.
Pair programming isn’t just something used in schools, it’s used in major tech companies like Google, Amazon and Facebook.</p>

        <h2>What are the benefits of Pair Programming?</h2>

        <p>Research suggests that students...
</p>
        <ul>
          <li>Produce better quality work</li>
          <li>Are more engaged</li>
          <li>Learn faster from one another</li>
          <li>Enjoy the learning process more when working collaboratively</li>
          <li>Have increased confidence</li>
          <li>Perform better on assessments</li>
          <li>Are more prepared for the workforce</li>
</ul>
        <img src = "static/student.jpg" width = "70%">

        <p>And teachers...
</p>
        <ul>
          <li>Reduce their workload</li>
          <li>Have time for more individualized instruction</li>
          <li>Have the time to provide more meaningful feedback to students</li>
</ul>

        <h2>Strategies for best grouping practices</h2>
    <p>Research suggests that pairing students strategically based on the following factors can help facilitate a successful learning experience. 
</p>
        <ul>
          <li>Demographics</li>
          <li>Student choice (especially in high school and college age students)</li>
          <li>Ability level</li>
          <li>Variety of partners</li>
          <li>Gender (especially in K-8 students)</li>
          <li>Different personality temperaments</li>
          <li>Similar work ethics</li>
        </ul>
    <p>In addition to choosing effective students groups, it also suggested that teachers explain and model how pair programming should be practiced. They should also provide opportunities for students to provide feedback about their group progress, and to formally discuss each member's contributions to the assignment. 
      <br>
</p>
        
         <button onclick="window.location.replace('/')">Back home</button>
        
         <footer>Grouping App &#169; 2022</footer>
      </div>
  </body>
</html>
