<!doctype html>
<html>
  <head>
  <title>How to use the app</title>
    <meta name="description" content="How to use the app">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <div id="container">
        <h1>Grouping App</h1>
        <h2>Tutorials</h2>
        <h5>Creating New Groups</h5>
        <iframe width="100%" alt = "add a new group"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <br>
        <h5>Viewing Activity History</h5>
        <iframe width="100%" alt = "How to add a new group activity"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <br>
        <h5>Accessing and Editing Class Rosters</h5>
        <iframe width="100%" alt = "How to add a new group activity"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <br>
        <br>
         <button onclick="window.location.replace('/')">Back home</button>
        
         <footer>Grouping App &#169; 2022</footer>
      </div>
  </body>
</html>
